html, body {
    font-family: SymphonyLato,"Hiragino Kaku Gothic Pro",Meiryo,"Yu Gothic Medium",sans-serif;
}

p { margin: 0 }

th, td {
    border: 1px solid black;
}

.id-label {
    font-size: 10px;
    color: #ccc;
}

#rfq-edit-container {
    display: flex;
    background: #eee;
    border-radius: 4px;
    padding: 4px;
}

.rfq-display-segment {
    margin: 0 2px;
}

input.rfq-display-segment {
    padding: 0;
}


/*******/

#rfq-container {
    border: 2px solid #84bd00;
}

/* rfq header */
.rfq-header-section {
    display: flex;
    background: rgb(26, 50, 71);
}

.citi-logo-wrapper {
    padding: 5px 10px;
    width: 60px;
}
.citi-logo-wrapper > img {
    width: 100%;
}

.rfq-info-wrapper {
    color: #babec4;
}

.rfq-id-small {
    color: #97999b;
    font-size: 12px;
}

/* rfq body */
.rfq-body-section {
    display: flex;
    background: #113f65;
    color: #babec4;
}

.rfq-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rfq-body.right {
    align-items: flex-end;
    padding: 0 4px;
}

.notional-wrapper {
    font-weight: bold;
}

.price-wrapper {
    font-size: 28px;
}

input {
    width: 100%;
    background: #161a1d;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.6) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.15) rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    color: #d3d9de;
    outline: none;
}
input:focus {
    border-color: #00bdf2;
}